@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Odmowa dostępu";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Poziom Twojego bohatera jest zbyt niski, żeby mógł skorzystać z Biblioteki Oświecenia. Przyprowadź go tu, gdy osiągnie poziom (przynajmniej) dziesiąty.</p>
</header>
