@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Odmowa dostępu";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">
        Nie masz dostępu do tej części strony.<br>
        Prawdopodobny powód:<br>
        Próbowałeś edytować lub usunąć rozwiązanie nie dodane przez ciebie. <br>
        Próbowałeś edytować lub usunąć zadanie z egzaminu (to może tylko moderator).<br>
        Próbowałeś dodać coś na stronę nie potwierdzając adresu email. <br>
        Ewentualnie zapomniałeś wylogować się i zalogować ponownie po potwierdzeniu adresu email.<br>
        Lub też próbowałeś się dostać do jakiejś strony do której dostęp mają tylko moderatorzy :> <br>
        
    </p>
    <br><br>
        <i>Szaleństwem jest robić wciąż to samo i oczekiwać różnych rezultatów</i>
</header>
