@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwiedzenie adresu email";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Dziękujemy za potwierdzenie adresu email.<br>
        Uwaga!<br>
        Uzyskanie praw potwierdzonego użytkownika wymaga ponownego zalogowania.
    </p>
</div>
