@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie chęci resetu hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Na twoją skrzynkę mailową został wysłany email z linkiem potwierdzającym reset hasła.
</p>

