@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie resetu hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hasło zostało pomyślnie zresetowane.<br>
    Naciśnij <a asp-page="./Login">tutaj</a>, by przejść do strony logowania.
</p>
