@model archive.Models.Taskset.TasksetViewModel

<h1>Archwium zadań</h1>

<h2>@Model.Taskset.Name (@Model.Taskset.Year):</h2>
@foreach (var task in Model.Tasks)
{
    <h3>
    @task.Name
    </h3>
    <pre style="white-space: pre-wrap; word-wrap: break-word;">@task.Content</pre>
}