@model archive.Models.Comment.CommentViewModel

<h2>Dodaj komentarz</h2>
<div>
    <div>
        <form asp-action="CreateComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Comment.Id" />
            <input type="hidden" asp-for="Comment.SolutionId" />
            <div class="form-group">
                <label asp-for="Comment.Content" class="control-label">Treść komentarza</label>
                <textarea asp-for="Comment.Content" class="form-control" cols="120" rows="4" autofocus required></textarea>
                <span asp-validation-for="Comment.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>