@model archive.Models.Task.EditTagsViewModel

<h3>
    Edycja tagów:
</h3>

<h5>
        @Model.Task.Name
</h5>
<pre style="white-space: pre-wrap; word-wrap: break-word;">@Model.Task.Content</pre>

<form asp-action="EditTags">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Task" value= Model.Task/>

    <div class="form-group">
        <label asp-for="Tags"></label>
        <input asp-for="Tags" class="form-control"/>
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>

    
    
   
    <div class="form-group">
        <input type="submit" value="Zapisz zmiany" class="btn btn-primary" />
    </div>
</form>