:root {
    --footer-height: 60px;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-areas: "Header Header" "Navigation Main" ". Footer";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
    min-height: calc(100% - 20px);
    margin: 10px;
}

header {
    grid-area: Header;
}

#navContainer {
    grid-area: Navigation;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

nav a {
    display: block;
    padding: 8px 6px;
    min-width: 150px;
}

main {
    grid-area: Main;
}

footer {
    grid-area: Footer;
}

nav a {
    transition: background 500ms;
    margin-bottom: 3px;
    text-decoration: none;
}

header h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

main h1,
main h2 {
    font-weight: bold;
}

main h3 {
    border-bottom: 1px solid;
    font-weight: normal
}

.Warning,
.Error,
.Info {
    border-left: 5px solid;
    padding: 5px;
}
