@model IEnumerable<archive.Models.Course.CourseViewModel>
<h1>Archwium zadań</h1>

<h2>Przedmioty:</h2>
@foreach (var course in Model)
{
    <a asp-controller="Taskset" asp-action="Index"
       asp-route-id="@course.Id">
        @course.Name
    </a>
    <br/>
}