@model IEnumerable<CourseViewModel>
<h1>Archwium zadań</h1>

<h2>Przedmioty:</h2>
@foreach (var course in Model)
{
    <a asp-controller="Home" asp-action="Tasksets"
       asp-route-courseName="@course.Name">
        @course.Name
    </a>
    <br/>
}