@model SolutionsViewModel

@foreach (var task in Model.Solutions)
{
    <article class="card">
        <div class="card-body">
            <pre style="white-space: pre-wrap; word-wrap: break-word;">@task.Solution.CachedContent</pre>
        </div>
    </article>
}
