@model TasksetsViewModel

<h1>@Model.CourseName</h1>

<h2>Zestawy zadań:</h2>
@foreach (var taskset in Model.Tasksets)
{
    <a asp-controller="Home" asp-action="Tasks"
       asp-route-courseName="@Model.CourseName" asp-route-tasksetName="@taskset.Name">
        @taskset.Name
    </a>
    <br/>
}
