@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Usuń swoje dane";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Po usunięciu danych, całe Twoje konto zostanie umieszczone w najwyższej wieży najwyższego zamku na najwyższej górze Krainy Niebytu. Stamtąd nie ma powrotu...</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">Tak, otwórzcie portal i przenieście moje dane do Krainy Niebytu</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}